<div class='modal-header'>
  <button type='button' class='close' data-dismiss='modal'>x</button>
  <h4 class='modal-title' id='myModalLabel'>New Rule</h4>
</div>

<div class='modal-body'>
  <%= render 'rules/partials/new_rule_creation' %>
</div>
